@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext');

/*0. GLOBAL*/
html, button, input {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}
h2 {
  font-size: 2.3rem;
  line-height: 2.8rem;
  font-weight: 700;
  text-align: center;
}
h3 {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 300;
}
p, a, .mobilemenu {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2.2rem;
}
a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #fff;
}
strong {
  font-weight: 700;
}
img {
  max-width: 100%;
}
iframe {
  margin: 50px 0 0;
}
.container {
  width: 80%;
  padding: 50px 0;
  margin: 0 auto;
}

/*0.5 COLORS & DECORATIONS*/
.textlight {
  color: #fff;
}
.textdark {
  color: #000;
}
.textcolor {
  color: #df372c;
}
.light {
  background-color: #fff;
}
.dark {
  background-color: #000;
}
.color {
  background-color: #df372c;
}
.separator {
  width: 30px;
  height: 4px;
  margin: 20px auto 40px;
}
.fullseparator {
  width: 100%;
  height: 1px;
  margin: 50px 0;
  background-color: rgba(126, 126, 126, 0.15);
}
.hgroup {
  margin-bottom: 50px;
}

/* 1. HEADER*/
#top {
  height: 100vh;
  background: url('img/mainbgd.jpg') fixed no-repeat left center;
  background-size: cover;
}
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #df372c;
}
header .container {
  width: 100%;
  padding: 0;
}
.logo {
  text-indent: -9999px;
  height: 80px;
  margin: 20px 0;
  background: url('img/logo.svg') no-repeat center;
  background-size: contain;
  transition-duration: .3s;
}
.smaller .logo {
  height: 0;
  margin: 0;
  transition-duration: .3s;
}
header nav ul {
  display: none;
  top: 0;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  border-bottom: 1px solid #ce3026;
}
header nav ul li {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
header nav ul li a, button {
  display: block;
  color: #fff;
  background-color: #df372c;
  padding: 15px 0;
  text-align: center;
  transition-duration: .3s;
}
header nav ul li a:hover {
  background-color: #ce3026;
  box-shadow: inset 0 0 10px 0px #b8332a;
  transition-duration: .3s;
}
.social {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.mobilemenu {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 300;
  background-color: transparent;
  border: none;
  border-top: 1px solid #ce3026;
  border-bottom: 1px solid #ce3026;
  width: 100%;
}
.mobilemenu:focus {
  outline: none;
}
.mobilemenu i {
  margin-left: 10px;
}

/*2. TOP */
#top h2 {
    color: #fff;
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 900;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.scroll {
  width: 60px;
  height: 60px;
  line-height: 67px;
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: calc(50% - 30px);
  transform: translateX(-50%);
  background-color: #df372c;
  border-radius: 50px;
  transition-duration: .3s;
  animation: play 5s infinite; /* IE 10+, Fx 29+ */
  }
  @keyframes play {
    0%   { transform: translateY(-10%); }
    50%  { transform: translateY(10%); }
    100%  { transform: translateY(-10%); }
  }
.scroll:hover {
  background-color: #df372c;
  transition-duration: .3s;
} 
.scroll i {
  font-size: 2rem;
  color: #fff;
}

/*3. SECTIONS & CONTENT*/
#about, #offer, #gallery, #cta, #contact {
   padding: 50px 0;
}
#gallery {
  padding: 50px 0 0;
}
#about, #cta {
  color: #fff;
  background-color: #df372c;
  text-align: center;
}
#about img {
  margin: 0 0 50px;
}
#offer {
  background-color: #e2e2e2;
  text-align: center;
}
.offerbox {
  margin-top: 50px;
}
.offerbox:hover i {
  transform: translateY(-20px);
  transition-duration: .3s;
}
.offerbox i {
  font-size: 10rem;
  color: #df372c;
  transition-duration: .3s;
}
.offerbox h3 {
  margin: 30px 0;
  font-weight: 400;
}
iframe {
  width: 100%;
  height: 250px;
}
#gallery, #contact {
  color: #fff;
  background-color: #2a2a2a;
}
#cta {
  clear: both;
}
#cta h2 {
  font-weight: 400;
}
.button {
  display: inline-block;
  margin-top: 50px;
  padding: 20px 25px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  background-color: #2a2a2a;
  border-radius: 40px;
}
.button i {
  margin-right: 10px;
}
#contact {
  text-align: center;
  margin-bottom: 100px;
}
.contacticon {
  height: 60px;
  width: 60px;
  margin: 20px auto;
  background-color: #df372c;
  border-radius: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.contacticon i {
  font-size: 2rem;
}

/*4. CONTACT FORM*/
form {
  margin-top: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
}
form input, textarea {
  padding: 20px;
  background-color: #242424;
  margin-bottom: 25px;
  border: none;
  box-shadow: inset 0px 0px 5px 0px #161616;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  color: #545454;
  letter-spacing: 1px;
}
textarea {
   font-family: inherit;
   min-height: 200px;
   max-width: 100%;
   resize: vertical;
}
input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  width: 200px;
  margin: 0 auto;
  background-color: #df372c;
  box-shadow: none;
  font-size: 1.3rem;
  color: #fff;
  border-radius: 50px;
}
input[type="submit"]:hover {
  background-color: #ce3026;
  box-shadow: inset 0 0 10px 0px #b8332a;
  transition-duration: .3s;
}

/*5. FOOTER */
footer {
  position: fixed;
  z-index: -1;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
}
footer .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100px;
  padding: 0;
}
footer p {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
}

.backtotop {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  background-color: #ce3026;
  text-align: center;
}

/*6. MEDIAQUERIES */
@media all and (min-width: 768px) {
  header .container {
    width: 80%;
  }
  .mobilemenu {
    display: none;
  }
  .social {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  header nav {
    border-top: 1px solid #ce3026;
  }
  header nav ul {
    display: -ms-flexbox;
    display: flex !important;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header nav ul li {
    -ms-flex-preferred-size: 100%;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  iframe {
    height: 350px;
  }
  .contactboxes {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
  }
  #contact .container .contactbox {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
  }
}
@media all and (min-width: 1024px) {
  #about .container, #offer .offerboxes, .movie {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
  }
  #about .container {
    -ms-flex-align: center;
        align-items: center;
  }
  #about .hgroup {
    -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        -ms-flex-order: 2;
            order: 2;
        text-align: left;
  }
  #about img {
    width: 50%;
    -ms-flex-order: 1;
        order: 1;
  }
  #about h2, #about h3 {
    text-align: left;
  }
  #about p {
    -ms-flex-order: 3;
        order: 3;
  }
  #about .separator {
    margin: 20px 0 40px;
  }
  .offerbox {
    padding: 0 5%;
    -ms-flex: 1 1 40%;
        flex: 1 1 40%;
  }
  .movie {
    -ms-flex-align: center;
        align-items: center;
  }
  .movie iframe {
    -ms-flex: 1 1 50%;
        flex: 1 1 50%;
  }
  .movie iframe {
    -ms-flex-order: 1;
        order: 1;
  }
  .movie p {
    padding: 5%;
    -ms-flex: 1 1 40%;
        flex: 1 1 40%;
    -ms-flex-order: 2;
        order: 2;
        text-align: left;
  }
  .pictures img {
    max-width: 50%;
    float: left;
  }
  form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: justify;
                justify-content: space-between;
  }
  form input[type="text"], form input[type="email"] {
    width: 32%;
  }
  form textarea {
    -ms-flex: 0;
        flex: 0 100%;
  }
}
@media all and (min-width: 1440px) {
  .offerbox {
    padding: 0 2%;
    -ms-flex: 1 1 21%;
        flex: 1 1 21%;
  }
  .pictures img {
    max-width: 33.333333%;
    }
}