body {
  margin: 0;
  background-color: #e0e0e0;    
    font-family: 'Open Sans', sans-serif;
}
nav {
  background-color: #ff9000;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 2rem 0;
  text-align: center;
}
nav ul li {
  padding: .5rem 2rem;
  display: inline;
}
nav ul li a {
  color: #fff;
  text-decoration: none;

}
.container {
  width: 50%;
  margin: 0 auto;
  background-color: whitesmoke;
}
article {
  padding: 2rem;
}
.indent {
  text-indent: 2rem;
}
img {
  display: block;
  width: 50%;
  height: auto;
  float: left;
  padding: 1rem;
}
.clear {
  clear: both;
}
article h2 {
  margin-top: 0;
}
section {
    float: left;
}
#sectionleft {
    width: 70%;
}
#sectionright {
    width: 30%;
}
img {
    max-width: 50%;
}