@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Play');

html {
	font-size: 62.5%;
	font-family: 'Lato', sans-serif;
}
img {
	max-width: 100%;
}
h1 {
	margin: 50px 0;
	font-size: 3.8rem;
}
h2 {
	font-size: 2.6rem;
	margin: 25px 0;
}
h1, h2, aside p {
	font-family: 'Lato', sans-serif;
}
p, figcaption {
	font-family: 'Play', sans-serif;
	font-size: 1.4rem;
	line-height: 2rem;
}
.container {
	width: 90%;
	margin: 0 auto;
	padding-top: 100px;
}
.sections {
	position: relative;
	z-index: 2;
}
header, footer {
	width: 100%;
	text-align: center;
}
footer {
	position: fixed; /*sposob na position: absolute - przypiecie footera do dolnej krawedzi strony i ukrycie przez z-index pod trescia strony*/
	bottom: 0;
	z-index: 1;
}
/*HEADER*/
header img {
	border-radius: 20px;
	transform: rotateZ(5deg);
	box-shadow: 5px 5px 5px #ccc;
}

/*SECTION LEFT*/
#left {
	position: absolute;
	left: 0;
	width: 300px;
	margin-bottom: 100px;
	background-color: #fff;
}
figure {
	margin-bottom: 25px;
}

/*SECTION RIGHT*/
#right {
	position: absolute;
	right: 0;
	width: calc(100% - 300px);
	margin-bottom: 100px;
	background-color: #fff;
}
article {
	-moz-column-width: 330px;
	     column-width: 330px;
}
article img {
	float: left;
	max-width: 200px;
}
article h2 {
	-moz-column-span: all;
	     column-span: all;
}
aside {
	float: right;
}
aside p {
	font-size: 2.6rem;
	line-height: 3.2rem;
	color: red;
	text-align: center;
	padding: 5%;
}

@media all and (max-width: 800px) {
	#right {
		width: 100%;
		-ms-flex-order: 1;
		    order: 1;
	}
	#left {
		width: 100%;
		-ms-flex-order: 2;
		    order: 2;
	}
	article {
		-moz-column-width: initial;
		     column-width: initial;
	}
	footer {
		-ms-flex-order: 3;
		    order: 3;
	}
}
